.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
   /* Inspired Health */

width: 260px;
height: 46px;


font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
margin-right: 25%;
margin-left: 15px;


display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000; 
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    /*Removes underline from anchor tag in nav*/
    text-decoration: none;
}

a:hover {
    color: black;
}

.aboutMe {
    /* About Me */


width: 74px;
height: 18px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #A259FF;
}

.health {
width: 50px;
height: 18px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #A259FF;
}

.discipleship {
width: 91px;
height: 18px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #A259FF;
}

.support {
    /* Support */


width: 61px;
height: 18px;
left: 1539px;
top: 21px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #A259FF;
}

.welcome {
    height: 650px;
    display: flex;
    align-items: center;
}

.leftWelcome {
    width: 40%;
    text-align: center;
}

.rightWelcome {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 30px;
}

h4 {
    /* Body H4 */

font-family: 'Montserrat';
font-style: bold;
font-weight: 900;
font-size: 24px;
line-height: 36px;
margin: auto;
/* identical to box height, or 150% */

letter-spacing: -0.015em;

color: #000000;
}

p {
    /* Body P */

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 167% */

letter-spacing: -0.015em;

color: rgba(0, 0, 0, 0.8);
}

.name {
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 22px;
line-height: 36px;
/* or 150% */

letter-spacing: -0.015em;
text-transform: uppercase;

color: #000000;
}

.welcomeImg { 
    border-radius: 50%;
    width: 75%;
    max-width: 270px;
}

hr.rounded {
    border-top: 1px solid #A259FF;
    border-radius: 5px;
    margin: auto 5%;
}

button { 
    background: #A259FF;
    border-radius: 8px;
    margin: 2% 0 5% 0;
    border: 0;
    padding: 8px 20px;
}

button:hover {
    transform:scale(1.05)
  }

.buttonText {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}

h1 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 72px;
/* or 150% */

letter-spacing: -0.015em;

color: #000000;
}

.header2 {
    margin: 120px auto 50px 70px;
}

.testimonials {
    display: flex;
    justify-content: space-around;
}

.testimony-block {
    width: 50%;
    margin: 70px;
}

.testimonyPic {
    width: 60%;
    border-radius: 50%;
}

.footer {
    height: 170px;
    text-align: center;
}

.attribution {
    color: black;
    font-family: 'Montserrat';
    font-size: 10px;
    margin-left: 50px
}

.footerList {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 40px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 1;
      transform:scale(1.1);
  }
  
  .fa-facebook {
    background: #A259FF;
    color: white;
  }

  .fa-instagram {
    background: #A259FF;
    color: white;
  }

  h5 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    margin-left: auto 15px;
  }


  